@import '../../../styles/Vars';
.container{
    
    .container__detail {
        display: flex;
        color: $text-color;
        justify-content: center;
        flex-wrap: wrap;
        .col {
            max-width: 400px;
            margin: 15px;
            height: auto;
            width: 80%;
        }
        .movieImage {
            border-radius: 15px;
            width: 90%;
        }
        
        .movieDetails {
            font-size: 1.5rem;
        }
        
        .firstItem {
            margin-top: 0;
            text-transform: uppercase;
            
        }  
    }

    .container_image{
        position: relative;

        .container__button{
            position: absolute;
            top: 20px;
            left: 25px;

            .container__button_img{
                color: #fefefe;
                background-color: transparent;
                border: none;
                transition: all 0.3s ease;
                font-size: 1.25rem;
                padding: 5px;
                margin: 0;

            }
            .container__button_img:hover{
                color: #21d07a;
                cursor: pointer;
            }
        }
    }
}

