@import '../Vars';

.filter__container{
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin: 8px 0;
  color: $text-color;
  font-size: 16px;

  .trigger {
    cursor: pointer;
    font-size: 18px;
    margin: 4px;
    transition: .4s ease;
    &:hover{
      color: $brand-color-light;
    }
  }
}

.films__container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(480px, 1fr)); 
  grid-gap: 1em;
  max-width: 100%;
  width: 100%;
  
  @media (max-width: $iphoneX) {
    padding: 12px;
    grid-template-columns: auto; 
  }

  // TODO: handle padding an width of container
}

.search__container {
  margin-bottom: 24px;
}