@import '../Vars';

.section{
  background: $container-color;
  border-radius: 6px;

  @media (max-width: $iphoneX) {
    width: 96%;
  }

}

.sub__section {
  padding: 8px 12px;
}

.section__title{
  padding: 8px 12px;

  font-weight: lighter;
  font-size: 16px;
  border-bottom: 1px solid gray;
  margin-bottom: 8px;
}

.profile__container{
  @extend .sub__section;
  color: $text-color;
  display: grid;
  width: 100%;
  gap: 12px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 100%;

  @media (max-width: $iphoneX) {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  
  .logout__btn{
    @media (max-width: $iphoneX) {
      width: 100%;
    }
  }

  .progress__container{
    grid-column: 2 / 6;
    grid-row: 1 / 2;
    @extend .section;

    .progress__container{
      padding: 8px 12px;
    }
  }

  .user__container {
    @extend .sub__section;
    text-align: center;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    @extend .section;
    @media (max-width: $iphoneX) {

    }
    .user__image{
      height: 150px;
      width: 150px;
      border-radius: 500px;
      overflow: hidden;
      @media (max-width: $iphoneX) {
        height: 150px;
        width: 150px;
      }
    }
    .username{
      @media (max-width: $iphoneX) {
      }
    }
  }

  .rating__container{
    @extend .sub__section;

    grid-column: 2 / 4;
    grid-row: 2 / 3;
    @extend .section;
  }

  .reaction__container{
    @extend .sub__section;

    grid-column: 4 / 6;
    grid-row: 2 / 3;
    @extend .section;

    @media (max-width: $iphoneX) {

    }
    .emojis__container{
      display: flex;
      justify-content: space-around;
      @media (max-width: $iphoneX) {
        font-size: 28px;
      }
    }
  }

}