@import './_Vars.scss';

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: fit-content;
    padding: 0.75rem 1.25rem;
    text-transform: uppercase;
    font-family: $text-font;
    font-weight: 700;
    font-size: 0.8rem;
    line-height: 0.9rem;
    border: 3px solid transparent;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;

    i {
        font-size: 1.2rem;
        margin-right: 0.5rem;
        color: #fff;
    }

    &-primary {
        color: $text-color;
        background: linear-gradient(to right, $primary-color, $secondary-color, $primary-color);
        background-size: 200%;
        background-position: left;
        transition: background 0.3s ease-in-out;
        -webkit-transition: background 0.3s ease-in-out;
        -moz-transition: background 0.3s ease-in-out;
        -ms-transition: background 0.3s ease-in-out;
        -o-transition: background 0.3s ease-in-out;

        &:hover {
            background-position: right;
        }
    }

    &-secondary {
        margin-right: 0.5rem !important;
        color: $primary-color;
        background: transparent;
        border: 3px solid $primary-color;

        &:hover {
            opacity: 0.7;
        }
    }

    &-close {
        top: 0;
        right: 0;
        position: absolute;
        padding: 1rem;
        background: transparent;

        i {
            margin: 0;
            cursor: pointer;

        }

        &:hover {
            opacity: 0.7;
        }
    }

    &-facebook {
        margin-top: 0;
        color: #fff;
        background-color: #3b5998;

        &:hover {
            opacity: 0.7;
        }
    }

    &-twitter {
        color: #fff;
        background-color: #1da1f2;

        &:hover {
            opacity: 0.7;
        }
    }
}