$heading-font: 'Zilla Slab', sans-serif;
$text-font: 'Montserrat', sans-serif;

// Colors
$text-color: #FFFFFF;
$secondary-text-color: #CBCFD4;
$bg-color: #30363D;
$container-color: #3C444C;
$primary-color: #4cc9f0;
$secondary-color: #4895ef;
$tertiary-color: #f72585;
$error-color: #F27474;
$success-color: #6FCF97;
$brand-color: #716844;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;

//shadow
$shadow: 0px 30px 40px rgba(0, 0, 0, 0.1);

// media Querys
$iphoneX: 375px
