$heading-font: 'Zilla Slab', sans-serif;
$text-font: 'Montserrat', sans-serif;

// Colors
$text-color: #FFFFFF;
$secondary-text-color: #CBCFD4;
$bg-color: #30363D;
$container-color: #3C444C;
$primary-color: #009FFF;
$secondary-color: #ec2F4B;
$tertiary-color: #4BEC2F;