@import '../../../styles/Vars';

.modal__container{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 999;

    .modal {
        position: relative;
        top: 10rem;
        background-color: #ffffff;
        padding: 1rem;
        width: 55%;
        max-width: 1480px;
        padding: 1.2em;
        border-radius: .8em;
        overflow: hidden;
    }

    .modal__trigger{
      cursor: pointer;
      position: absolute;
      top: 8px;
      right: 12px;
      font-size: 24px;
      color: red;
    }
}