@import '../../../styles/Vars';

.autocomplete__container {
  position: relative;
  color: $text-color;

  @media (max-width: $iphoneX) {
    padding: 12px;
  }

  .autocomplete__input{
    position: relative;
    margin: 0;
  }


  .suggestions__container{
    position: absolute;
    top: 120%;
    width: 100%;
    z-index: 99;
    background: $container-color;
    box-shadow: $shadow;
    border-radius: 6px;
    overflow: hidden;
    max-height: 212px;
    overflow-y: scroll;

    @media (max-width: $iphoneX) {
      top: inherit;
      width: 94%;
    }
  }

  .suggestion__container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    cursor: pointer;
    padding: 8px;
    transition: ease .4s;

    &:hover {
      background: lighten($color: $container-color, $amount: 5%);
    }

    .thumbnail {
      width: 15%;
    }
  
    .details{
      width: 85%;

      display: flex;
      padding: 8px;
      flex-direction: column;
      .title{
        font-size: 14px;
      }
    }
  }

  


  .close__btn{
    cursor: pointer;
    color: $container-color;
    position: absolute;
    font-size: 18px;
    right: 2%;
    top: 25%;
    transition: ease .4s;

    @media (max-width: $iphoneX) {
      right: 24px;
      top: 24px;
    }

    &:hover{
      color: $bg-color;
    }
  }
}

.empty__suggestion{
  font-size: 14px;
  text-align: center;
  padding: 8px;
}