@import '../../../styles/_Vars.scss';

.alert {
    display: none;
    margin: 1rem 0;
    position: relative;
    padding: 1.5rem;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;

    &_dismiss {
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 12px;
        cursor: pointer;
    }

    &_message {
        font-weight: 500;
    }

    &.error {
        background-color: rgba($danger, 0.2);
        color: $danger;

        .alert_dismiss {
            color: $danger;
        }
    }
}