@import '../../../styles/Vars';

.watched{
  position: absolute;
  right: 8px;
  bottom: 8px;
  border: 1px solid greenyellow;
  color: greenyellow;
  border-radius: 6px;
  padding: 6px;
  font-size: 16px;

  svg {
    display: none;
    @media (max-width: $iphoneX) {
      display: block;
    }
  }

  .watched__text{
    @media (max-width: $iphoneX) {
      display: none;
    }
  }
}

.card__container {
  background: $container-color;
  color: $text-color;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: $shadow;

  display: flex;
  flex-direction: row;

  cursor: pointer;
  transition: ease .4s;
  position: relative;

  max-width: 100%;

  &:hover {
    transform: scale(1.005);
  }
  
  


  .card__thumbnail{
    width: 35%;
    background: none;
    background-size: cover !important;
    background-repeat: no-repeat !important;

    @media (max-width: $iphoneX) {
      min-height: 180px;
      width: 40%;
    }

    @media screen and (min-width:1533px) {
      min-height: 285px;
      width: 44%;
    }

    @media screen and (min-width:2080px) {
      min-height: 320px;
      width: 44%;
    }

    .imgFluid{
      height: 100%;
      object-fit: cover;
    }
  }

  .card__detail{
    width: 65%;
    padding: 12px;
    display: flex;
    flex-direction: column;

    @media (max-width: $iphoneX) {
      width: 60%;
      padding: 8px;
    }

    .title {
      font-family: $heading-font;
      font-size: 1.8em;
      line-height: .8em;
      margin-bottom: 4px;

      @media (max-width: $iphoneX) {
        font-size: 1.2em;
        line-height: 1.1em;
      }

      span{
        font-weight: lighter;
        font-size: 18px;
        @media (max-width: $iphoneX) {
          font-size: 16px;
        }
      }
    }

    .subtitle{
      font-size: 1em;
      font-weight: lighter;
      margin-bottom: 4px;

      @media (max-width: $iphoneX) {
        display: none;
      }
    }

    .dutation{
      font-size: 1em;
      font-weight: lighter;
      margin-bottom: 4px;
    }

    .director{
      font-weight: lighter;
      margin: 12px 0;

      @media (max-width: $iphoneX) {
        font-size: 12px;
        margin: 8px 0;
      }
    }

    .score{
      font-size: 12px;
      font-weight: lighter;
    }

    .rating{
      display: flex;
      align-items: center;
    }

    .reaction__container{
      display: flex;
      flex-direction: column;
    }
  }

  .qualification__container{
    display: flex;
    flex-direction: column;
  }

}

.emoji__container{
  .emoji {
    padding-right: 8px;
    font-size: 28px;
    transition: ease .4s;

    @media (max-width: $iphoneX) {
      font-size: 24px;
      padding-right: 4px;
    }
  }
}